

.sexo {
max-width: 800px;
margin: 20px auto;
padding: 20px;
background-color: aqua;
border-radius: 8px
}

body{
    background-color: rgb(129, 146, 140);
}

#ambatas{
padding-left: 700px;
}

